.my-headline {
    font-weight: 900;
    font-size: 24px;
    color: #505050;
}

.my-sub-headline {
    font-weight: 900;
    font-size: 16px;
    color: #505050;
}

.v-card {
    border-radius: 8px;
}

.v-data-table {
    border-radius: 16px;
}

.layout {
    margin: 0;
    padding: 0;
}
