.my-headline {
    font-weight: 900;
    font-size: 24px;
    color: #505050;
}

.my-sub-headline {
    font-weight: 900;
    font-size: 16px;
    color: #505050;
}

.v-card:not(.v-card--flat) {
    border-radius: .5em !important;
    box-shadow: -3px -3px 2px 0 rgba(255, 255, 255, .8),
    6px 6px 6px 0 rgba(0, 0, 0, .3);
}

.v-data-table {
    border-radius: 16px;
}

.layout {
    margin: 0;
    padding: 0;
}

/*.bottom-sheet-dialog {*/

/*    max-width: 720px;*/
/*}*/

/*.v-dialog {*/
/*    border-radius: 16px;*/
/*    position: absolute;*/
/*    bottom: 0px;*/
/*    margin: auto;*/
/*    !*flex-basis: 80%;*!*/
/*    !*transition-timing-function: ease-in-out;*!*/
/*    !*transition: flex-basis 0.3s;*!*/
/*}*/

.v-btn {
    min-width: 0px;
    padding: 0;
    margin: 0;
}

@media print {
    body * {
        visibility: hidden;
    }

    #card-to-print, #card-to-print * {
        visibility: visible;
        -webkit-print-color-adjust: exact;
    }

    #card-to-print {
        position: absolute;
        left: 30px;
        top: 30px;
        width: calc(8.5cm * 2);
        height: calc(8cm * 2);
    }

    .receipt-to-print, .receipt-to-print * {
        visibility: visible;
        -webkit-print-color-adjust: exact;
    }

    .receipt-to-print {
        position: absolute;
        left: 0;
        top: -50px;
        /*height: 100%;*/
    }

    .item-to-print, .item-to-print * {
        visibility: visible;
        -webkit-print-color-adjust: exact;
    }

    .item-to-print {
        position: absolute;
        left: 0px;
        top: 0px;
    }
}
